{% if page.companies.size > 0 %}
    {% assign category = page.categories[0] %}
    {% if category == 'News' %}
        <div class="post-info"><i class="fas fa-newspaper"></i>  Notícia sobre {{ page.companies }}.</div>
    {% elsif category == 'Preview' %}
        <div class="post-info"><i class="fas fa-eye"></i>  Prévia do jogo em desenvolvido por {{ page.companies }}.</div>
    {% elsif category == 'Game' %}
        <div class="post-info"><i class="fas fa-gamepad"></i>  Jogo desenvolvido por {{ page.companies }}.</div>
    {% elsif category == 'Inverview' %}
        <div class="post-info"><i class="fas fa-comments"></i>  Entrevista sobre {{ page.companies }}.</div>
    {% elsif category == 'Event' %}
        <div class="post-info"><i class="fas fa-calendar-alt"></i>  Evento de {{ page.companies }}.</div>
    {% elsif category == 'Event' %}
        <div class="post-info"><i class="fas fa-chalkboard-teacher"></i>  Coluna sobre {{ page.companies }}.</div>
    {% elsif category == 'Promo' %}
        <div class="post-info"><i class="fas fa-money-bill-alt"></i>  Promoção sobre {{ page.companies }}.</div>
    {% endif %}
{% endif %}