{% assign category = page.categories[0] %}
{% assign companiesSize = page.companies.size  %}

{% if category == 'News' %}
    <div class="post-info"><i class="fas fa-newspaper"></i>  Notícia{% if companiesSize > 0 %} sobre {{ page.companies }}{% endif %}</div>
{% elsif category == 'Preview' %}
    <div class="post-info"><i class="fas fa-eye"></i>  Prévia{% if companiesSize > 0 %} do jogo em desenvolvido por {{ page.companies }}{% endif %}</div>
{% elsif category == 'Game' %}
    <div class="post-info"><i class="fas fa-gamepad"></i>  Jogo{% if companiesSize > 0 %} desenvolvido por {{ page.companies }}{% endif %}</div>
{% elsif category == 'Inverview' %}
    <div class="post-info"><i class="fas fa-comments"></i>  Entrevista{% if companiesSize > 0 %} sobre {{ page.companies }}{% endif %}</div>
{% elsif category == 'Event' %}
    <div class="post-info"><i class="fas fa-chalkboard-teacher"></i>  Evento{% if companiesSize > 0 %} de {{ page.companies }}{% endif %}</div>
{% elsif category == 'Event' %}
    <div class="post-info"><i class="fas fa-comment-alt"></i>  Coluna{% if companiesSize > 0 %} sobre {{ page.companies }}{% endif %}</div>
{% elsif category == 'Promo' %}
    <div class="post-info"><i class="fas fa-money-bill-alt"></i>  Promoção{% if companiesSize > 0 %} sobre {{ page.companies }}{% endif %}</div>
{% endif %}