<div class="highlight-box">
    <div class="highlight-box-title">{{ include.title }}</div>
    <hr>
    {% assign posts = include.posts %}
    {% if include.category != null %}
        {% assign categoryFilter = "item.categories contains '" | append: include.category | append: "'" %}
        {% assign posts = posts | where_exp:"item", categoryFilter %}
    {% endif %}

    {% if include.tag != null %}
        {% assign tagFilter = filter | append: "item.tags contains '" | append: include.tag | append: "'" %}
        {% assign posts = posts | where_exp:"item", tagFilter %}
    {% endif %}
   
    <ul>
    {% for post in posts limit:3 %}
        <li>
            <a href="{site.baseurl}{{ post.url }}">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
