<div class="highlight-box">
    <div class="highlight-box-title">{{ include.title }}</div>
    <hr>
    <ul list="{{ include.title }}">
    <script>
        $(document).ready(function() {
            var initialized = false;
            var inview = new Waypoint.Inview({
                element: $(".highlight-box-title:contains('{{ include.title }}')")[0],
                enter: function(direction) {
                    if(initialized) return;
                    initialized = true;
                    $.getJSON("{{ site.baseurl }}/search.json", function(json) {
                        function addItem(post) {
                            var title = post.title.replace(/&#39;/g, "'")
                            title = title.replace(/&amp;#39;/g, "'")
                            $("[list='{{ include.title }}']").append("<li><a href='" + post.url + "'>" + title + "</a></li>");
                        }
                        
                        var posts = $(json).filter(function (i,p) {
                            var selected = true;

                            if ('{{ include.category }}' != '')
                                selected = p.category == '{{ include.category }}';
                    
                            if (selected && '{{ include.tag }}' != '')
                                selected = $.inArray('{{ include.tag }}', p.tags.split(', ')) != -1;
                            
                            return selected;
                        });

                        var indexes = [];

                        for(var i = 0; i < 3 && i < posts.length; i++)
                        {
                            
                            do {
                                var index = Math.floor(Math.random() * posts.length);
                            } while($.inArray(index, indexes) != -1)

                            indexes.push(index);
                            addItem(posts[index]);
                        }        
                    });
                }
            });
        });
        
    </script>
    </ul>
</div>
