<!-- HTML elements for search -->
<div class="highlight-box search-box">
    <div class="highlight-box-title">Pesquisa</div>
    <hr>
    <input type="text" id="search-input"><input id="search-button" type="submit" value=">" class="button">
</div>

<script>
    $('#search-input').keyup(function(e) {
      if(e.keyCode == 13) {
        goToSearch();
      }
    });

    $('#search-button').click(function() {
      goToSearch();
    });

    function goToSearch() {
      window.location.href = "{{ site.baseurl }}/pesquisa?q=" + $('#search-input').val();
    }
</script>
