<div class="highlight-box">
    <div class="highlight-box-title">Veja também</div>
    <hr>
    <ul>
      <li><a href="{{ site.baseurl }}/2018/11/21/jogosdaqui-open-source-e-colaborativo">Open source e colaborativo</a></li>
      <li><a href="{{ site.baseurl }}/contato">Contato</a></li>
      <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a></li>
      <li><a href="https://youtube.com/{{ site.footer-links.youtube }}">YouTube</a></li>
      <li><a href="https://github.com/{{ site.footer-links.github }}">GitHub</a></li>
      <li><a href="{{ site.baseurl }}/estatisticas">Estatísticas</a></li>
      <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
    </ul>
</div>