---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

$theme-color: #ff9900;

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin-top: 10px;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 16px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Tags
.post-tag {
  display: inline-block;
  background: rgba($theme-color, 0.15);
  padding: 0 .5rem;
  margin-right: .2rem;
  border-radius: 4px;
  color: $theme-color;
  font-family: $helvetica;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $theme-color;
    color: #ffffff;
  }
}

.tags-expo {
  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    @media (min-width: 38em) {
      font-size: 0.9rem;
      .post-tag {
        margin: .2em .3em;
      }
    }
  }
  .tags-expo-section {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      li {
        padding: 0 1rem;
        &:hover {
          list-style-type: disc;
          padding: 0 .5rem;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .post-date {
      display: inline-block;
      font-size: 80%;
      color: #000000;
      margin: 0;
      padding: 0;
    }
    font-family: $helvetica;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


// Search.
#search-input {
  float:right;
}

#results-container {
  position: absolute;
  background: white;
  margin: 0;
  margin-top: 40px;
  // border: 1px solid $lightGray;
  padding-right: 10px;
  z-index: 99999999;
}

// Menu.
.menu-item {
  color: $theme-color;
  font-family: robotoregular;
  font-size: 16px;
  text-transform: uppercase;
}


// Paging.
ul.pager { text-align: center; list-style: none; }
ul.pager li { display: inline; border: 1px solid black; border-radius: 10%; padding: 5px; margin: 5px; }
ul.paper li a { color: black; }
ul.pager li.selected { background-color: $theme-color; }