{% assign galleryName = page.path | galleryname %} 
{% assign gallery = site.data['galleries'][galleryName] %} 

<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/libs/lightslider/css/lightslider.css" />                  
<script src="{{ site.baseurl }}/libs/lightslider/js/lightslider.js"></script>

{% assign galleryPicturesCount = 0 %} 
<center>
  <ul id="lightSlider">
  {% if gallery.size > 1 %}
    {% for pic in gallery %}
      {% if pic contains 'logo' %}
      {% else %}
        {% assign galleryPicturesCount = galleryPicturesCount | plus:1 %}
        <li data-thumb="../../../../../{{ pic }}">
          <img src="../../../../../{{ pic }}"/>        
        </li>
      {% endif %}
    {% endfor %}
  {% else if gallery.size == 1  %}
    {% if gallery.first == null %}
    {% else if gallery.first contains 'logo' %} 
    {% else %}
      {% assign galleryPicturesCount = galleryPicturesCount | plus:1 %}
      <img src="../../../../../{{ gallery.first }}"/> 
    {% endif %}
  {% endif %}
  </ul>
</center>

{% if galleryPicturesCount > 1 %}
<script type="text/javascript">
  $(document).ready(function() {
   $('#lightSlider').lightSlider({
        gallery: true,
        pager: true,
        controls: false,
        thumbItem: 8,
        item: 1,
        loop: false,
        slideMargin: 0,
        autoWidth: true,
        adaptiveHeight: true,
        mode: "fade",
        useCSS: true,
        cssEasing: 'ease',
        easing: 'linear'
    });
  });
</script>
{% endif %}