<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    {% include meta.html %}
    {% include resources-begin.html %}
    {% include share-buttons.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <nav class="greedy">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl}}/assets/jogosdaqui-avatar-transparent.png" /></a>
            <ul class='links'>
              <li><a href="{{ site.baseurl }}/" class="menu-item">jogosdaqui</a></li>
              <li><a href="{{ site.baseurl }}/noticias" class="menu-item">Notícias</a></li>
              <li><a href="{{ site.baseurl }}/previas" class="menu-item">Prévias</a></li>
              <li><a href="{{ site.baseurl }}/jogos" class="menu-item">Jogos</a></li>
              <li><a href="{{ site.baseurl }}/entrevistas" class="menu-item">Entrevistas</a></li>
              <li><a href="{{ site.baseurl }}/eventos" class="menu-item">Eventos</a></li>
              <li><a href="{{ site.baseurl }}/colunas" class="menu-item">Colunas</a></li>
              <li><a href="{{ site.baseurl }}/colabore" class="menu-item">Colabore</a></li>
            </ul>
            <button><i class="fas fa-bars"></i></button>
            <ul class='hidden-links hidden'></ul>
          </nav>
          <div class="site-info">
              <p class="site-description">{{ site.description }}</p>
            </div>  
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div class="content-container">
        {{ content }}
      </div>
      <div class="right-bar-container">
          {% include ad.html %}
          {% include search-input.html %}
          {% include highlight-box.html title="Jogos em destaque" posts=site.posts category="Game" %}
          {% include highlight-box.html title="Jogos iOS" posts=site.posts category="Game" tag="ios" %}
          {% include highlight-box.html title="Jogos Android" posts=site.posts category="Game" tag="android" %}
          {% include highlight-box.html title="Jogos Windows" posts=site.posts category="Game" tag="windows" %}
          {% include highlight-box.html title="Documentários" posts=site.posts tag="documentario" %}
          {% include highlight-box.html title="Entrevistas" posts=site.posts category="Interview" %}
          {% include highlight-box.html title="Eventos" posts=site.posts category="Event" %}
          {% include see-too-box.html %}
      </div>
  </div>
  
    <footer class="footer">
    </footer>
    {% include resources-end.html %}
    {% include analytics.html %}
    {% include lazy-load.html %}
  </body>
</html>
