---
layout: default
---

<style>
  iframe 
  {
    width: 40vw;
    height: 21vw;
  }

  @media(max-width:1080px) 
  {
    iframe 
    {
      width: 80vw;
      height: 42vw;
    }
  }
  </style>
  
<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="entry">
    {% include logo.html logo=page.logo %}
    <div class="post-info-box">
      {% include date.html %}
      {% include company.html %}
      {% include release-date.html %}
      {% include author.html %} 
      {% include colabore.html %}
    </div>
    {{ content }}
    {% include gallery.html %}
  </div>
  {% include tags.html %}

  {% if content.size > 500 %}
    {% include ad.html %} 
  {% endif %}
  {% include improve-post.html %}
  {% include disqus.html %}
</article>
