---
layout: default
---

<style>
  iframe 
  {
    width: 40vw;
    height: 21vw;
  }

  @media(max-width:1080px) 
  {
    iframe 
    {
      width: 80vw;
      height: 42vw;
    }
  }
  </style>
  
<article class="post">
  <h1>{{ page.title }}</h1>
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="entry">
    {% include logo.html path=page.path %}
    <div class="post-info-box">
      {% include date.html %}
      {% include company.html %}
      {% include author.html %} 
      {% include colabore.html %}
    </div>
    {{ content }}
    {% include gallery.html %}
  </div>
  {% include tags.html %}

  {% if content.size > 500 %}
    <!-- {% include ad.html %}  -->
  {% endif %}

  {% include disqus.html %}

  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
</article>
