---
layout: default
---
<h2>{{ page.tag }}</h2>
{% assign categoriesPosts = page.posts | group_by:'categories' | sort:'categories' %}
{% for categoryPost in categoriesPosts %}
    <ul>
      <h3>{{ categoryPost.name | categorytitle}} {{ categoryPost.name | categoryicon}}</h3>
      {% assign sortedPosts = categoryPost.items | sort:'date' | reverse %}
      {% for post in sortedPosts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%d/%m/%Y" }})</li>
      {% endfor %}  
    </ul>
{% endfor %}